@import 'https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500&display=swap';
html {
  font-size: 16px;
}
body {
  font-family: 'Noto Sans CJK TC';
}
.slider {
  width: 100%;
}
.slider .banner_slider .item a img {
  max-width: 100%;
}

/*header*/
header {
  background: transparent linear-gradient(90deg, #ec0086 0%, #db4954 100%) 0% 0%
    no-repeat padding-box;
  position: relative;
}
header .head {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
}
header .head .logo {
  flex: 0 0 346px;
  padding: 1rem 0;
  margin-right: 1rem;
}
/*主選單*/
header .head ul.nav {
  list-style: none;
  padding-left: 0;
  display: flex;
  margin-bottom: 0;
  align-items: center;
}
header .head ul.nav li {
  margin-right: 1rem;
}
header .head ul.nav li:last-child {
  margin-right: 0;
}
header .head ul.nav li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.25rem;
}
header .head ul.nav li a:hover {
  opacity: 0.8;
}
/*工具欄*/
header .head ul.toolBar {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  flex: 0 0 90.5px;
  margin-left: auto;
}
header .head ul.toolBar li {
  margin-right: 38.5px;
}
header .head ul.toolBar li:last-child {
  margin-right: 0;
}
header .head ul.toolBar li a {
  cursor: pointer;
}
header .head ul.toolBar li a:hover {
  opacity: 0.8;
}
header .head ul.toolBar li .search_bar {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: transparent linear-gradient(90deg, #ec0086 0%, #db4954 100%) 0% 0%
    no-repeat padding-box;
  padding: 10px 0 15px 0;
  transform: scaleY(0);
  transform-origin: top;
  transition-duration: 0.3s;
  z-index: 9;
}
header .head ul.toolBar li .search_bar.active {
  transform: scaleY(1);
}
header .head ul.toolBar li .search_bar .search {
  display: flex;
  align-items: center;
}
header .head ul.toolBar li .search_bar .search input[type='text'] {
  flex: 1;
  outline: none;
  border: none;
  border-radius: 15px;
  padding: 3px 15px;
}
header .head ul.toolBar li .search_bar .search .send {
  color: #fff;
  margin-left: 20px;
}
header .head .close{
  position: absolute;
  top: 68px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 8;
  height: calc(100vh - 68px);
  display: none;
}
header .head .close.active{
  display: block;
}

header .testing_head {
  display: flex;
  flex-wrap: wrap;
}
header .testing_head .logo {
  flex: 0 0 346px;
  padding: 1rem 0;
  margin-right: 1rem;
}
header .testing_head .logo img {
  width: 100%;
}
header .testing_head .info {
  flex: 0 0 100%;
  display: flex;
  padding: 35px 0;
}
header .testing_head .timer {
  flex: 0 0 255px;
  text-align: center;
}
header .testing_head .timer .name {
  font-size: 1.25rem;
  color: #fff;
  margin-bottom: 20px;
}
header .testing_head .timer .number {
  font-size: 3rem;
  line-height: 1;
  font-weight: 900;
  color: #fff;
}
header .testing_head .bar {
  flex: 1;
  margin-left: 30px;
}
header .testing_head .bar .text {
  font-size: 1.25rem;
  text-align: center;
  color: #fff;
  margin-bottom: 23px;
}
header .testing_head .bar .range_bar {
  max-width: 825px;
  width: 100%;
  height: 30px;
  border: 4px solid #fff;
  background-color: #ef9bb0;
  border-radius: 24px;
  position: relative;
}
header .testing_head .bar .range_bar span.progress {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 40%;
  background-color: #fff;
  border-radius: 24px;
}

.mobile_head {
  display: none;
  align-items: center;
}
.mobile_head .logo {
  flex: 0 0 230px;
  padding: 15px 0;
  margin-right: auto;
}
.mobile_head .logo img {
  width: 100%;
}
.mobile_head .search_btn {
  margin-left: 32px;
  display: flex;
}
.mobile_head .search_btn .btn{
  display: flex;
  align-items: center;
  padding-top: 10px;
}
.mobile_head .search_btn .btn::before {
  content: url(../images/common/search.svg);
}
.mobile_head .search_btn .search_bar {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: transparent linear-gradient(90deg, #ec0086 0%, #db4954 100%) 0% 0%
    no-repeat padding-box;
  padding: 10px 0 15px 0;
  transform: scaleY(0);
  transform-origin: top;
  transition-duration: 0.3s;
  z-index: 9;
}
.mobile_head .search_btn.active .search_bar {
  transform: scaleY(1);
  z-index: 10;
}
.mobile_head .search_btn .search_bar .search {
  display: flex;
  align-items: center;
}
.mobile_head .search_btn .search_bar .search input[type='text'] {
  flex: 1;
  outline: none;
  border: none;
  border-radius: 15px;
  padding: 3px 15px;
}
.mobile_head .search_btn .search_bar .search .send {
  color: #fff;
  margin-left: 20px;
}

.mobile_head .menu_btn .btn {
  display: flex;
  align-items: center;
  padding: 0;
  padding-top: 5px;
}
.mobile_head .menu_btn .btn::before {
  content: url(../images/common/menu_btn.svg);
}
.mobile_head .menu_btn > .dropdown {
  position: absolute;
  z-index: 10;
  top: 100%;
  left: 0;
  width: 100%;
  background: transparent linear-gradient(90deg, #ec0086 0%, #db4954 100%) 0% 0%
    no-repeat padding-box;
  padding-bottom: 15px;
  transform: scaleY(0);
  transform-origin: top;
  transition-duration: 0.3s;
  padding: 0 15px 20px 15px;
  z-index: 9;
}
.mobile_head .menu_btn.active > .dropdown {
  transform: scaleY(1);
  z-index: 10;
}
.mobile_head .menu_btn > .dropdown > ul.nav {
  padding: 10px 0;
  list-style: none;
}
.mobile_head .menu_btn > .dropdown > ul.nav > li {
  flex: 0 0 100%;
}
.mobile_head .menu_btn > .dropdown > ul.nav > li > a {
  display: block;
  padding: 5px 0;
  color: #fff;
  text-decoration: none;
  font-size: 1.25rem;
}
.mobile_head .menu_btn > .dropdown > ul.nav > li > a:hover {
  opacity: 0.8;
}
.mobile_head .menu_btn > .dropdown > ul.social {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  padding-top: 10px;
  display: flex;
  border-top: 1px solid #fff;
}
.mobile_head .menu_btn > .dropdown > ul.social > li {
  margin-right: 16px;
  display: flex;
  align-items: center;
}
.mobile_head .menu_btn > .dropdown > ul.social > li > a {
  display: block;
  width: 30px;
}
.mobile_head .menu_btn > .dropdown > ul.social > li > a:hover {
  opacity: 0.8;
}
.mobile_head .menu_btn > .dropdown > ul.social > li > a > img {
  width: 100%;
}
.mobile_head .menu_btn > .dropdown > ul.info {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  padding-top: 20px;
}
.mobile_head .menu_btn > .dropdown > ul.info > li {
  color: #fff;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  font-size: 1.1rem;
}
.mobile_head .menu_btn > .dropdown > ul.info > li:last-child{
  margin-bottom: 0;
}
.mobile_head .menu_btn > .dropdown > ul.info > li > label {
  margin-bottom: 0;
  margin-right: 10px;
  flex: 0 0 23px;
}

.mobile_head .close{
  position: absolute;
  top: 68px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 8;
  height: calc(100vh - 68px);
  display: none;
}
.mobile_head .close.active{
  display: none;
}
@media (max-width: 1200px) {
  header .head {
    display: none;
  }
  .mobile_head {
    display: flex;
  }
  header .head .close.active{
    display: none;
  }
  header .testing_head .logo {
    flex: 0 0 230px;
  }
  header .testing_head .info {
    flex-wrap: wrap;
    padding: 20px 0;
  }
  header .testing_head .timer {
    flex: 0 0 100%;
  }
  header .testing_head .timer .number {
    font-size: 1.75rem;
    margin-bottom: 30px;
  }
  header .testing_head .bar {
    flex: 0 0 100%;
    margin-left: 0;
  }
  header .testing_head .bar .text {
    margin-bottom: 10px;
  }
  header .testing_head .bar .range_bar {
    width: 100%;
  }
  .mobile_head .close.active{
    display: block;
  }
}

/*top_banner*/
.top_banner {
  background-image: url(../images/common/top_banner.png);
  background-size: cover;
  padding: 50px 0;
}
.top_banner h1 {
  color: #fff;
  margin-bottom: 32px;
  font-size: 3rem;
  font-weight: bold;
}
.top_banner h1::after {
  content: '';
  display: block;
  padding-top: 32px;
  width: 100%;
  max-width: 445px;
  border-bottom: 2px solid #ec0086;
}
.top_banner p {
  color: #fff;
  font-size: 1.75rem;
  margin-bottom: 0;
}
@media (max-width: 1200px) {
  .top_banner {
    padding: 22px 0;
  }
  .top_banner h1 {
    font-size: 1.75rem;
    margin-bottom: 20px;
  }
  .top_banner h1::after {
    padding-top: 20px;
  }
  .top_banner p {
    font-size: 1.5rem;
  }
}

.page {
  padding-bottom: 48px;
  background-color: #f9f9f9;
  overflow: hidden;
}
.page .btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin-bottom: 81px;
}
.page .btn a.send_btn {
  width: 350px;
  height: 72px;
  color: #fff;
  background: transparent linear-gradient(180deg, #ec0086 0%, #db4954 100%) 0%
    0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 1.75rem;
  margin-bottom: 32px;
}
.page .mini_btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin-bottom: 81px;
}
.page .mini_btn a.send_btn {
  width: 160px;
  height: 48px;
  color: #fff;
  background: transparent linear-gradient(180deg, #ec0086 0%, #db4954 100%) 0%
    0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 1rem;
  margin-bottom: 32px;
}
.page .btn a.go_back {
  color: #ec0086;
  text-decoration: underline;
}
.page .btn a:hover {
  opacity: 0.8;
}
@media (max-width: 1200px) {
  .page {
    padding-bottom: 0;
  }
  .page .btn a.send_btn {
    width: 285px;
    height: 58px;
    font-size: 1rem;
  }
  .page .btn {
    margin-bottom: 60px;
  }
}

/*bread*/
ul.bread {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  display: flex;
  margin: 20px 0;
}
ul.bread li {
  color: #000;
}
ul.bread li::after {
  content: '/';
  padding: 0 5px;
}
ul.bread li:last-child::after {
  display: none;
}
ul.bread li a {
  color: #000;
}

/*流程圖*/
ul.stepwizard {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  padding-top: 128px;
  padding-bottom: 154px;
  display: flex;
}
ul.stepwizard li {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
ul.stepwizard li::before {
  content: '';
  display: block;
  position: absolute;
  z-index: 1;
  width: 100%;
  border-bottom: 5px solid #d2d2d2;
  transform: translateX(-50%);
}
ul.stepwizard li:first-child:before {
  display: none;
}
ul.stepwizard li.complete::before {
  border-color: #ec0086;
}
ul.stepwizard li.active::before {
  border-color: #ec0086;
}
ul.stepwizard li::after {
  content: 'STEP';
  position: absolute;
  top: calc(-50% - 10px);
  color: #d2d2d2;
  font-size: 1rem;
}
ul.stepwizard li.complete::after {
  color: #ec0086;
}
ul.stepwizard li.active::after {
  color: #ec0086;
}
ul.stepwizard li span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border: 3px solid #d2d2d2;
  border-radius: 100%;
  font-size: 1.75rem;
  color: #d2d2d2;
  background-color: #fff;
  z-index: 2;
}
ul.stepwizard li.complete span {
  border-color: #ec0086;
  color: #ec0086;
}
ul.stepwizard li.active span {
  background-color: #ec0086;
  border-color: #ec0086;
  color: #fff;
}
ul.stepwizard li .text {
  position: absolute;
  top: calc(100% + 23px);
  font-size: 1.25rem;
  padding: 0 5px;
  text-align: center;
  color: #33333380;
}
ul.stepwizard li.complete .text {
  color: #000;
}
ul.stepwizard li.active .text {
  color: #000;
}
/*提示文字*/
.top_tip {
  font-size: 1.25rem;
  text-align: center;
  color: #333333;
  margin-bottom: 22px;
  display: none;
}
.top_alert {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 43px;
}
@media (max-width: 1200px) {
  ul.stepwizard {
    padding-top: 51px;
    padding-bottom: 10px;
    margin-left: -5%;
    margin-right: -5%;
  }
  ul.stepwizard li {
    flex: 1;
  }
  ul.stepwizard li::before {
    border-width: 3px;
  }
  ul.stepwizard li span {
    width: 32px;
    height: 32px;
    font-size: 1rem;
  }
  ul.stepwizard li .text {
    display: none;
  }
  .top_tip {
    display: block;
  }
  .top_alert {
    text-align: left;
  }
}

/*底部選單*/
footer {
  position: relative;
}
footer .footer_menu_btn {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -100%);
  z-index: 2;
  background-color: #cc4951;
  width: 160px;
  height: 48px;
  border-radius: 4px 4px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
footer .footer_menu_btn.closed img {
  transform: rotate(180deg);
}
footer .footer_menu {
  border-top: 3px solid #cc4951;
  transition: height 0.3s ease;
  overflow: hidden;
}

footer .footer_menu ul.footer_nav {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}
footer .footer_menu ul.footer_nav li label {
  margin-bottom: 32px;
}
footer .footer_menu ul.footer_nav li ul.sub {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}
footer .footer_menu ul.footer_nav li ul.sub li {
  margin-bottom: 20px;
}
footer .footer_menu ul.footer_nav li ul.sub li a {
  color: #333;
  text-decoration: none;
}

footer .bottom {
  padding: 60px 0 28px 0;
  background-color: #f0f0f0;
}
footer .bottom .footer_logo {
  margin-bottom: 60px;
}
footer .bottom .line {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
footer .bottom .line .footer_left {
  display: flex;
  flex-direction: column;
}

footer .bottom .line .footer_left ul.social {
  flex: 0 0 20px;
  list-style: none;
  padding-left: 0;
  margin-bottom: 30px;
  display: flex;
}
footer .bottom .line .footer_left ul.social li {
  margin-right: 15px;
}
footer .bottom .line .footer_left ul.social li:last-child {
  margin-right: 0;
}
footer .bottom .line .footer_left ul.social li a:hover {
  opacity: 0.8;
}

footer .bottom .line .footer_left ul.info {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}
footer .bottom .line .footer_left ul.info li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
footer .bottom .line .footer_left ul.info li:last-child {
  margin-bottom: 0;
}
footer .bottom .line .footer_left ul.info li label {
  margin-right: 14px;
  margin-bottom: 0;
}
footer .bottom .line .footer_left ul.info li:last-child {
  margin-right: 0;
}

footer .bottom .line .footer_right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

footer .bottom .line .footer_right ul.mobile_menu {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  display: none;
}
footer .bottom .line .footer_right ul.mobile_menu li {
  flex: 0 0 50%;
}
footer .bottom .line .footer_right ul.mobile_menu li {
  flex: 0 0 50%;
  margin-right: 0;
  margin-bottom: 20px;
}
footer .bottom .line .footer_right ul.mobile_menu li a {
  color: #333333;
  text-decoration: none;
  font-size: 1rem;
}
footer .bottom .line .footer_right ul.mobile_menu li a:hover {
  opacity: 0.8;
}

footer .bottom .line .footer_right ul.menu {
  flex: 0 0 20px;
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  display: flex;
}
footer .bottom .line .footer_right ul.menu li {
  margin-right: 35px;
}
footer .bottom .line .footer_right ul.menu li:last-child {
  margin-right: 0;
}
footer .bottom .line .footer_right ul.menu li a {
  color: #333333;
  text-decoration: none;
  font-size: 1rem;
}
footer .bottom .line .footer_right ul.menu li a:hover {
  opacity: 0.8;
}

footer .bottom .line .footer_right .copyright {
  color: #77777780;
  margin-left: auto;
}
@media (max-width: 1200px) {
  footer .footer_menu_btn,
  footer .footer_menu {
    display: none;
  }
  footer .bottom {
    padding: 37px 0 28px 0;
  }
  footer .bottom .footer_logo {
    margin-bottom: 35px;
  }
  footer .bottom .line {
    flex-wrap: wrap;
  }
  footer .bottom .line .footer_left {
    flex: 0 0 100%;
  }
  footer .bottom .line .footer_left ul.social li {
    margin-right: 43px;
  }
  footer .bottom .line .footer_left ul.info {
    margin-bottom: 40px;
  }
  footer .bottom .line .footer_right {
    flex: 100%;
  }
  footer .bottom .line .footer_right ul.mobile_menu {
    display: flex;
  }
  footer .bottom .line .footer_right ul.menu {
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  footer .bottom .line .footer_right ul.menu li {
    flex: 0 0 50%;
    margin-right: 0;
    margin-bottom: 20px;
  }
  footer .bottom .line .footer_right .copyright {
    margin-left: unset;
  }
}
