@import 'common.css';

.consultants {
  padding-top: 24px;
  margin-bottom: 88px;
}
.consultants h1 {
  font-size: 3rem;
  font-weight: 900;
  color: #000;
  letter-spacing: -2px;
  margin-bottom: 42px;
}
.consultants .list .item {
  display: flex;
  padding-bottom: 30px;
  border-bottom: 2px solid #eee;
  margin-bottom: 30px;
}
.consultants .list .item:last-child {
  padding-bottom: 0;
  border-bottom: none;
  margin-bottom: 0;
}
.consultants .list .item:nth-child(even) .pic {
  order: 1;
  margin-right: 0;
  margin-left: 75.5px;
}

.consultants .list .item .pic {
  flex: 0 0 400px;
  margin-right: 75.5px;
}
.consultants .list .item .pic img {
  width: 100%;
}
.consultants .list .item .text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.consultants .list .item .text .info .text_top {
  position: relative;
  padding-left: 40px;
  margin-bottom: 11px;
}
.consultants .list .item .text .info .text_top::before {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  display: block;
  height: 100%;
  border-left: 4px solid #ec0086;
}
.consultants .list .item .text .info .text_top .title {
  color: #333333;
  font-size: 1.25rem;
  margin-bottom: 13px;
  line-height: 1;
  display: flex;
  align-items: center;
}
.consultants .list .item .text .info .text_top .title::after {
  content: '';
  width: 24px;
  height: 2px;
  background-color: #969696;
  margin-left: 15.5px;
}
.consultants .list .item .text .info .text_top .name {
  color: #ec0086;
  font-size: 1.75rem;
  font-weight: 900;
  line-height: 1;
}
.consultants .list .item .text .info .desc {
  font-size: 1.25rem;
  color: #333;
}
.consultants .list .item .text .more {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.consultants .list .item .text .more a {
  width: 160px;
  height: 48px;
  background: transparent linear-gradient(180deg, #ec0086 0%, #db4954 100%) 0%
    0% no-repeat padding-box;
  box-shadow: 5px 5px 6px #00000029;
  border: 1px solid #ec0086;
  border-radius: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-decoration: none;
}
.consultants .list .item .text .more a:hover {
  opacity: 0.8;
}
@media (max-width: 1200px) {
  .consultants {
    padding-top: 20px;
    margin-bottom: 40px;
  }
  .consultants h1 {
    font-size: 1.75rem;
    margin-bottom: 23px;
  }
  .consultants .list .item {
    flex-wrap: wrap;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
  .consultants .list .item .pic {
    flex: 0 0 100%;
    margin-right: 0;
    margin-bottom: 20.5px;
  }
  .consultants .list .item:nth-child(even) .pic {
    order: 0;
    margin-left: 0;
  }
  .consultants .list .item .text .info .desc {
    margin-bottom: 40px;
  }
  .consultants .list .item .text .more {
    justify-content: center;
  }
  .page .btn{display: none;}
}
