body {
  position: relative;
  min-height: 100vh;
}
h1 {
  font-size: 48px;
  text-align: center;
  margin: 20px 0;
  font-weight: 700;
}

h2 {
  font-size: 28px;
  color: #333333;
  line-height: 36px;
}

@media (max-width: 375px) {
  h1 {
    font-size: 28px;
  }
  h2 {
    font-size: 24px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  h1 {
    font-size: 36px;
  }
}

@media (max-width: 767px) {
  h1 {
    font-size: 28px;
  }
}

li,
p,
span {
  color: #333333;
}

ul {
  padding: 0;
}

* {
  list-style: none;
}

.mark-star {
  color: #ec0086;
  font-size: 20px;
}

button:focus {
  outline: none;
}

/* 選單 */
nav {
  width: 100%;
  height: 70px;
  background: linear-gradient(90deg, #ec0086, #db4954);
}
nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav a:hover {
  text-decoration: none;
}

nav a .nav-logo {
  content: url(../images/common/logo_career-w.svg);
  width: 230px;
  height: 32px;
  margin: 20px 10px 20px 0px;
}
nav a .nav-outpatient-tittle {
  position: relative;
  width: 104px;
  height: 32px;
  display: inline;
  color: #fff;
  font-size: 23px;
  font-family: 'Noto Sans TC', sans-serif;
  font-weight: 500;
  top: 8px;
}
nav a .nav-outpatient-tittle::before {
  content: '';
  font-size: 18px;
  border-left: 1px solid #fff;
  padding-left: 10px;
}
nav a .nav-consultant-tittle {
  position: relative;
  width: 104px;
  height: 32px;
  display: inline;
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  font-family: 'Noto Sans TC', sans-serif;
  top: 7px;
  padding-left: 8px;
}
nav a .nav-consultant-tittle::before {
  content: '';
  font-size: 18px;
  border-left: 1px solid #fff;
  padding-left: 10px;
}

nav .nav-user-info {
  float: right;
}
nav .nav-user-info p {
  position: relative;
  top: 6px;
  color: #fff;
  display: inline;
}
nav .nav-user-info .info {
  display: inline-block;
  margin-right: 40px;
}
nav .nav-user-info .info p {
  font-size: 20px;
}
nav .nav-user-info .info p span {
  color: #fff;
}

nav .nav-user-info .dropdown {
  position: relative;
  display: inline-block;
}
nav .nav-user-info .dropdown a.dropbtn {
  display: inline-block;
  width: 26px;
}
nav .nav-user-info .dropdown a.dropbtn:hover {
  opacity: 0.8;
}

nav .nav-user-info .dropdown .dropdown-content {
  display: none;
  position: absolute;
  text-align: center;
  background-color: #fff;
  min-width: 160px;
  right: 0px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  padding: 20px;
  z-index: 1;
}
nav .nav-user-info .dropdown .dropdown-content.show {
  display: block;
}
nav .nav-user-info .dropdown .dropdown-content p {
  color: #333333;
}
nav .nav-user-info .dropdown .dropdown-content .btn-sub {
  margin-top: 20px;
  color: rgba(255, 255, 255, 0.9);
  width: 160px;
  height: 48px;
  border-radius: 48px;
  background-color: #db4954;
  outline: none;
  border: none;
  cursor: pointer;
  box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.16);
}
nav .nav-user-info .dropdown .dropdown-content .btn-sub:hover {
  opacity: 0.8;
}
@media (max-width: 991px) {
  nav .nav-user-info .info {
    display: none;
  }
}
@media (max-width: 536px) {
  nav {
    height: 52px;
  }
  nav a .nav-logo {
    content: url(../images/common/logo_career-w-s.svg);
    width: 160px;
    height: auto;
    margin: 15px 10px 20px 0px;
  }
  nav a .nav-outpatient-tittle {
    position: relative;
    width: 104px;
    height: 26px;
    display: inline;
    color: #fff;
    font-size: 18px;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 500;
    top: 2px;
  }
  nav a .nav-outpatient-tittle::before {
    content: '';
    position: relative;
    bottom: 1px;
    font-size: 12px;
    border-left: 1px solid #fff;
    padding-left: 10px;
  }

  nav a .nav-consultant-tittle {
    position: relative;
    width: 104px;
    height: 32px;
    display: inline;
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    font-family: 'Noto Sans TC', sans-serif;
    top: 1px;
    padding-left: 8px;
  }

  nav a .nav-consultant-tittle::before {
    content: '';
    font-size: 10px;
    border-left: 1px solid #fff;
    padding-left: 10px;
  }

  nav .nav-user-info .dropdown a.dropbtn {
    width: 21px;
  }
}

@media (max-width: 409px) {
  nav a .nav-logo {
    margin: 15px 0px 20px 0px;
  }
  nav a .nav-outpatient-tittle {
    font-size: 16px;
    top: 1px;
  }
  nav a .nav-outpatient-tittle::before {
    padding-left: 5px;
  }
  nav a .nav-consultant-tittle {
    font-size: 16px;
    top: 1px;
    padding-left: 0px;
  }
  nav a .nav-consultant-tittle::before {
    padding-left: 5px;
  }
}
@media (max-width: 375px) {
  nav .nav-user-info .dropdown .dropdown-content .btn-sub {
    width: 127px;
  }
}

/* breadcrumb */
.breadcrumb {
  display: block;
  padding: 20px 0px;
  margin: 0px;
  width: 100%;
  background-color: #fff;
  font-size: 16px;
  color: #333333;
  white-space: nowrap;
}
.breadcrumb li {
  display: inline;
  font-size: 16px;
}
.breadcrumb a {
  color: #333333;
}

/* Page-tittle */
.page-tittle {
  margin-bottom: 20px;
}
.page-tittle img {
  display: inline-block;
  margin-right: 10px;
  white-space: nowrap;
}
.page-tittle h2 {
  display: inline-block;
  position: relative;
  top: 7px;
  display: inline;
  white-space: nowrap;
}

/*搜尋*/

/* search-area */
.search-area {
  width: 100%;
  padding: 20px 0 10px 0;
  margin: auto;
  background-color: rgba(51, 51, 51, 0.05);
}
.search-area form ol {
  padding: 0;
  margin-bottom: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.search-area form ol li {
  margin-bottom: 10px;
  font-size: 20px;
  flex: 0 0 33.3%;
  padding-right: 20px;
}
.search-area form ol li:last-child {
  padding-top: 30px;
}
.search-area form ol li p {
  margin-bottom: 10px;
  font-size: 20px;
  color: #333333;
  margin-right: 20px;
}

.search-area form ol li input[type='text'],
.search-area form ol li select,
.search-area form ol li .date-style {
  border: 1px solid #ec0086;
  border-radius: 48px;
  outline: none;
  padding: 5px 20px;
  height: 42px;
  background-color: #f9f9f9;
  width: 100%;
}
.search-area form ol li select {
  color: #333333;
  cursor: pointer;
  padding-right: 20px;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: url(../images/common/icon_select_down-c.svg) no-repeat;
  background-position: 90% 50%;
}
.search-area form ol li .date-style-out {
  position: relative;
}
.search-area form ol li .date-style-out::after {
  content: url(../images/common/icon_Calendar.svg);
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-45%);
}
.search-area form ol li .reset-style {
  color: #ec0086;
  font-size: 16px;
  text-decoration: underline;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  margin-right: 10px;
}
.search-area form ol li .reset-style:hover {
  opacity: 0.8;
}
.search-area form ol li .submit-style {
  color: #fff;
  font-size: 16px;
  width: auto;
  height: 42px;
  border: none;
  border-radius: 48px;
  box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.16);
  background: linear-gradient(#ec0086, #db4954);
  outline: none;
  cursor: pointer;
  padding: 8px 64px;
}
.search-area form ol li .submit-style:hover {
  opacity: 0.8;
}
@media (max-width: 1199px) {
  .search-area form ol li:last-child {
    padding-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .search-area form ol li .submit-style {
    display: block;
    margin-top: 10px;
    text-align: center;
  }
}

@media (max-width: 538px) {
  .search-area form ol li {
    flex: 50%;
  }
  .search-area form ol li .input-text-style,
  .search-area form ol li .select-style,
  .search-area form ol li .date-style {
    width: 160px;
    padding-right: 8px;
    padding-left: 8px;
  }

  .search-area form ol li .select-style {
    background-position: calc(100% - 15px) 50%;
  }
}

/*report-list*/
.report-list {
  margin: 40px 0px;
}
.report-list ul {
  width: 100%;
}
.report-list ul li.thead {
}
.report-list ul li.tbody {
}
.report-list ul li.thead ol.tr,
.report-list ul li.tbody ol.tr {
  padding-left: 0;
  display: flex;
}
.report-list ul li.thead ol.tr li {
  flex: 1;
  font-weight: 900;
}
.report-list ul li.tbody ol.tr li a.link {
  color: #ec0086;
  text-decoration: underline;
}
.report-list ul li.thead ol.tr li,
.report-list ul li.tbody ol.tr li {
  flex: 1;
  border: none;
  padding: 20px 0;
  font-size: 16px;
  text-align: center;
  color: #333333;
}
.report-list ul li.thead ol.tr li:first-child,
.report-list ul li.tbody ol.tr li:first-child {
  flex: 0 0 66px;
}
.report-list ul li.thead ol.tr li:last-child,
.report-list ul li.tbody ol.tr li:last-child {
  flex: 0 0 191px;
}
.report-list ul li.tbody ol.tr li:last-child {
  display: flex;
  justify-content: center;
}
.report-list ul li.tbody ol:nth-child(odd) {
  background: rgba(236, 0, 134, 0.05);
}
.report-list ul li.tbody ol.tr li a.report-list-btn-01 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  line-height: 24px;
  width: 58px;
  height: 58px;
  background-color: #ec0086;
  border-radius: 12px;
  color: #fff;
  cursor: pointer;
  margin-right: 10px;
  margin-bottom: 10px;
  text-decoration: none;
}
.report-list ul li.tbody ol.tr li a.report-list-btn-01:hover {
  opacity: 0.8;
}
.report-list ul li.tbody ol.tr li a.report-list-btn-02 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  line-height: 24px;
  width: 58px;
  height: 58px;
  background-color: #db4954;
  border-radius: 12px;
  border: 0px;
  color: #fff;
  outline: none;
  cursor: pointer;
  margin: 0 10px;
  text-decoration: none;
}
.report-list ul li.tbody ol.tr li a.report-list-btn-02:hover {
  opacity: 0.8;
}
@media (max-width: 1199px) {
  .report-list {
    margin: 0px;
  }
  .report-list .container {
    margin: auto;
  }
  .report-list ul li.tbody {
    display: block;
    position: relative;
    width: 100%;
  }
  .report-list ul li.thead {
    display: none;
  }
  .report-list ul li.tbody ol:nth-child(odd) {
    display: block;
    border: none;
    margin-bottom: 10px;
    background-color: transparent;
  }
  .report-list ul li.tbody ol.tr {
    padding: 0px;
    margin-top: 10px;
    flex-wrap: wrap;
    justify-items: flex-start;
  }
  .report-list ul li.tbody ol.tr > li {
    flex: 0 0 100% !important;
    display: flex;
    padding: 5px 0;
    border: none;
    background: linear-gradient(90deg, #fff 25%, rgba(236, 0, 134, 0.05) 25%);
  }
  .report-list ul li.tbody ol.tr > li::before {
    content: attr(date-title);
    flex: 0 0 25%;
    background-color: #fff;
    margin-right: 20px;
    text-align: left;
  }
  .report-list ul li.tbody ol.tr li:last-child {
    justify-content: flex-start;
  }
}

/*pagination*/
.center {
  text-align: center;
}
.pagination {
  display: inline-block;
  text-align: center;
  margin-bottom: 70px;
}
.pagination a {
  color: #333333;
  padding: 8px 16px;
  text-decoration: none;
}
.pagination a.active {
  color: #ec0086;
  text-decoration: underline;
}
.pagination a:hover {
  opacity: 0.8;
}

/* footer */
footer {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  font-size: 14px;
  color: rgba(119, 119, 119, 0.5);
  text-align: center;
  background-color: rgba(238, 238, 238, 1);
  height: 48px;
  width: 100%;
  padding: 10px 0px;
}
