@import 'common.css';

.description h1 {
  font-size: 3rem;
  text-align: center;
  font-weight: 900;
  color: #000;
  letter-spacing: -2px;
  margin-bottom: 46px;
}
.description .form .title {
  background-color: #ec0086;
  color: #fff;
  border-radius: 24px 24px 0px 0px;
  padding: 20px 40px;
  font-size: 1.75rem;
}
.description .form .con {
  padding: 40px;
  box-shadow: 5px 10px 10px #d2d2d2;
  border-radius: 0px 0px 24px 24px;
  margin-bottom: 40px;
}
.description .form .list {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  color: #333333;
}
.description .form .list label {
  flex: 0 0 32px;
  width: 32px;
  height: 32px;
  margin-bottom: 0;
  color: #ec0086;
  border: 1px solid #ec0086;
  border-radius: 100%;
  font-size: 1.25rem;
  text-align: center;
  margin-right: 10px;
}
.description .form .list .text {
  color: #333333;
  font-size: 1.25rem;
}
.description .form .check{
    margin:0 40px 40px 40px;
}
.description .form .check input[type='checkbox']{
    display: none;
}
.description .form .check label{
    color: #333333;
    font-size: 1.25rem;
    display: flex;
    align-items: center;
    margin-bottom: 0;
}
.description .form .check label span.square{
    margin-right: 10px;
    margin-top: 3px;
}
.description .form .check label span.square::before{
    content: url(../images/common/check_no.svg);
    display: block;
    width: 16px;
}
.description .form .check input[type='checkbox']:checked + label span.square::before{
    content: url(../images/common/check.svg);
}
@media (max-width: 1200px) {
    .description h1{
        font-size: 1.75rem;
        margin-bottom: 23px;
    }
    .description .form .title{
        font-size: 1.5rem;
        padding: 20px 40px;
    }
    .description .form .con{
        padding: 40px 27.5px;
    }
    .description .form .list{
        align-items: flex-start;
    }
    .description .form .list label{
        margin-top: px;
    }
    .description .form .check{
        margin: 0 30px 40px 30px;
    }
}