
h1 {
  font-size: 48px;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 40px;
}

button:focus {
  outline: none;
}

@media (min-width: 768px) and (max-width: 1024px) {
  h1 {
    font-size: 36px;
  }
}

@media (max-width: 767px) {
  h1 {
    font-size: 28px;
    margin-bottom: 20px;
  }
}
/* nav */
header {
  background: transparent linear-gradient(90deg, #ec0086 0%, #db4954 100%) 0% 0%
    no-repeat padding-box;
  position: relative;
  z-index: 5;
}
header .testing_head {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 0;
}
header .testing_head .logo {
  flex: 0 0 346px;
  margin-right: 1rem;
  line-height: 1;
  display: flex;
  align-items: flex-end;
}
header .testing_head .logo .text {
  display: flex;
  align-items: flex-end;
  line-height: 1;
  font-size: 1.55rem;
  border-left: 1px solid #fff;
  margin-left: 5px;
  padding-left: 5px;
}

header .testing_head .logo .text a {
  line-height: 1;
  text-decoration: none;
  color: #fff;
}
@media (max-width: 1200px) {
  header .testing_head .logo a {
    width: 175px;
  }
  header .testing_head .logo a img {
    width: 100%;
  }
  header .testing_head .logo .text {
    font-size: 1.25rem;
  }
}

/* bg */
body {
  overflow-x: hidden;
  background: linear-gradient(#ec0086 50%, #db4954 100%);
  min-height: 100vh;
  position: relative;
}

/* .login-bg1 {
    position:absolute;
    width: 100%;
    height: calc(30% - 70px);
    top: 70px;
    background-color: #fff;
    left: 0;
    z-index: -1;
} */

.login {
  width: 100%;
  margin: auto;
  padding-top: 5%;
  padding-bottom: 5%;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 50%,
    rgba(255, 255, 255, 0) 50%,
    rgba(255, 255, 255, 0) 100%
  );
}

@media (width: 1024px) and (height: 1366px) {
  .login {
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 1) 50%,
      rgba(255, 255, 255, 0) 50%,
      rgba(255, 255, 255, 0) 100%
    );
  }
}

@media (max-width: 768px) {
  .login {
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 1) 40%,
      rgba(255, 255, 255, 0) 40%,
      rgba(255, 255, 255, 0) 100%
    );
  }
}

@media (max-width: 416px) {
  .login {
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 1) 30%,
      rgba(255, 255, 255, 0) 30%,
      rgba(255, 255, 255, 0) 100%
    );
  }
}

/* content */

.contain-height {
  min-height: calc(100vh - 110px);
}

.login h1 {
  font-weight: 700;
}

.card {
  width: 390px;
  height: auto;
  text-align: left;
  margin: auto;
  padding: 00px 20px 40px 20px;
  border-style: none;
  border-radius: 24px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.16);
}

.card p {
  color: #333333;
  margin: 20px 0px 10px 0px;
}

.card hr {
  width: 100%;
  margin: 20px 0px;
}

/* password-forget & password-forget-finish */

.password-forget,
.password-forget-finish .card p:nth-child(1) {
  margin-bottom: 0px;
}

.password-forget-finish .card p:nth-child(2) {
  margin: 10px 0px 0px 0px;
}

.password-forget .card p:nth-child(3) {
  margin-top: 0px;
}

.password-forget-finish .card p:nth-child(4) {
  margin-top: 0px;
}

/* CPAS_PDFlink */

.CPAS_PDFlink .card {
  align-items: center;
  padding: 80px 130px;
  background-color: rgba(255, 255, 255, 0.9);
}

.CPAS_PDFlink .card .icon-PDF {
  width: 120px;
  height: 146px;
}

.CPAS_PDFlink .card .icon-link {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  margin-bottom: 3px;
}

.CPAS_PDFlink a {
  text-decoration: underline;
  color: #333333;
  margin-top: 40px;
}

@media (max-width: 416px) {
  .card {
    width: 345px;
    padding: 0 30px 40px 30px;
    /* margin: 0 15px; */
  }

  .CPAS_PDFlink .card {
    padding: 70px 115px;
    background-color: rgba(255, 255, 255, 0.9);
  }
  .CPAS_PDFlink .card .icon-PDF {
    width: 110px;
    height: 135px;
  }
  .CPAS_PDFlink .card .icon-link {
    width: 18px;
    height: 18px;
  }
}

/* input,btn*/

.style-input {
  height: 42px;
  border-style: solid;
  border-color: #ec0086;
  border-width: 1px;
  border-radius: 24px;
  padding: 0 20px;
  outline: none;
}

#id,
#password {
  height: 42px;
  border-style: solid;
  border-color: #ec0086;
  border-width: 1px;
  border-radius: 24px;
  padding: 0 20px;
  outline: none;
}

.btn-main {
  color: rgba(255, 255, 255, 0.9);
  width: 350px;
  height: 48px;
  border-radius: 48px;
  background: linear-gradient(#ec0086, #db4954);
  text-align: center;
  outline: none;
  border: none;
  cursor: pointer;
  margin: 0;
  box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.16);
}
.btn-main:hover {
  opacity: 0.8;
}

/* .btn-main:hover {
    color:#fff;
    background-color: #d3323f; 
} */

.btn-sub-area {
  display: flex;
  justify-content: space-between;
}

.btn-sub {
  color: rgba(255, 255, 255, 0.9);
  width: 160px;
  height: 48px;
  border-radius: 48px;
  background-color: #db4954;
  outline: none;
  border: none;
  cursor: pointer;
  box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.16);
}
.btn-sub:hover {
  opacity: 0.8;
}

.btn-sub-linear {
  color: rgba(255, 255, 255, 0.9);
  width: 160px;
  height: 48px;
  border-radius: 48px;
  background: linear-gradient(#ec0086, #db4954);
  outline: none;
  border: none;
  cursor: pointer;
  box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.16);
}
.btn-sub-linear:hover{
  opacity: .8;
}

.password-forget-finish .btn-sub-area {
  margin-top: 60px;
}

.password-change-finish .btn-sub-area {
  margin-top: 80px;
}

@media (max-width: 416px) {
  .btn-main {
    width: 285px;
  }
  .btn-sub,
  .btn-sub-linear {
    width: 127px;
  }
}

#btn-login {
  background: linear-gradient(#ec0086, #db4954);
}
#btn-login:hover {
  opacity: 0.8;
}

/* captcha */

.card .txtCode {
  width: 160px;
  height: 42px;
  padding: 0 10px;
  outline: none;
  border-radius: 4px;
  border-color: rgba(0, 0, 20, 0.5);
  border-width: 1px;
  border-style: solid;
}

td.fresh {
  display: flex;
  align-items: center;
}

button.refresh {
  border: 1px solid #ccc;
  background-color: #bbb;
  outline: none;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 0;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}
button.refresh:hover {
  opacity: 0.8;
}
button.refresh img {
  width: 14px;
  height: 14px;
}

@media (max-width: 416px) {
  .card .txtCode {
    width: 139px;
  }
}

.card td {
  padding: 0;
}

table {
  margin-bottom: 20px;
}

/* footer */
footer {
  position: absolute;
  bottom: 0;
  font-size: 14px;
  color: rgba(119, 119, 119, 0.5);
  text-align: center;
  background-color: rgba(238, 238, 238, 1);
  height: 48px;
  width: 100%;
  padding: 10px 0px;
}
