@import 'common.css';

/*查詢門診地點*/
.reservation {
  padding: 60px 95px;
  border-radius: 24px;
  background-color: #fff;
  box-shadow: 5px 10px 10px #d2d2d2;
  margin-bottom: 60px;
}
.reservation h1 {
  font-size: 3rem;
  text-align: center;
  font-weight: 900;
  color: #000;
  letter-spacing: -2px;
  margin-bottom: 16px;
}
.reservation p {
  font-size: 1.25rem;
  text-align: center;
  color: #333333;
  margin-bottom: 12px;
}
.reservation p a {
  color: #ec0086;
  text-decoration: underline;
  margin: 0 5px;
}
.reservation p a:hover {
  opacity: 0.8;
}
.reservation > .local {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 1.25rem;
  color: #ec0086;
  margin-bottom: 30px;
}
.reservation > .local img {
  margin-right: 20px;
}
.reservation ul.tabs {
  list-style: none;
  padding-left: 0;
  display: flex;
  margin-bottom: 40px;
}
.reservation ul.tabs li {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  color: #ec0086;
  border: 1px solid #ec0086;
  border-radius: 48px;
  padding: 15px 0;
  font-size: 1rem;
  margin-right: 30px;
  cursor: pointer;
}
.reservation ul.tabs li.active,
.reservation ul.tabs li:hover {
  background: transparent linear-gradient(180deg, #ec0086 0%, #db4954 100%) 0%
    0% no-repeat padding-box;
  box-shadow: 5px 5px 6px #00000029;
  color: #fff;
}
.reservation ul.tabs li:last-child {
  margin-right: 0;
}
.reservation ul.tabs_panel {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  margin-bottom: 22px;
}
.reservation .table {
  margin-bottom: 0;
  position: relative;
}
.reservation .table .head {
  display: flex;
}
.reservation .table .head .th {
  flex: 1;
  text-align: center;
  font-size: 1.25rem;
  color: #333333;
  padding: 20px 0;
}
.reservation .table .body .tr {
  display: flex;
  padding: 20px 0;
}
.reservation .table .body .tr:nth-child(odd) {
  background-color: #fdf1f8;
}
.reservation .table .body .tr .td {
  flex: 1;
  text-align: center;
  font-size: 1.25rem;
  color: #333333;
}
.reservation .table .body .tr .td input[type='radio'] {
  display: none;
}

.reservation .table .body .tr .td label {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.reservation .table .body .tr .td label span.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  border: 2px solid #c0b7bc;
  border-radius: 100%;
  margin-right: 5px;
}
.reservation .table .body .tr .td label span.circle::before {
  content: '';
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: #fff;
}
.reservation
  .table
  .body
  .tr
  .td
  input[type='radio']:checked
  + label
  span.circle {
  border-color: #ec0086;
}
.reservation
  .table
  .body
  .tr
  .td
  input[type='radio']:checked
  + label
  span.circle::before {
  background-color: #ec0086;
}

.reservation .table .local_nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.reservation .table .local_nav .pre,
.reservation .table .local_nav .next {
  width: 32px;
  height: 32px;
  background-color: #ec0086;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.reservation .table .local_nav .pre:hover,
.reservation .table .local_nav .next:hover {
  opacity: 0.8;
}
.reservation .table .local_nav .pre {
  transform: translateX(-130%);
}
.reservation .table .local_nav .next {
  transform: translateX(130%);
}
.reservation .table .local_nav .pre::before,
.reservation .table .local_nav .next::before {
  content: url(../images/common/arrow_icon.svg);
}
.reservation .table .local_nav .pre::before {
  transform: rotate(90deg) scale(0.6);
}
.reservation .table .local_nav .next::before {
  transform: rotate(-90deg) scale(0.6);
}

/*手機板*/
.reservation .mobile_option {
  display: none;
}
.reservation .mobile_option .local {
  text-align: center;
}
.reservation .mobile_option .local .title {
  text-align: center;
  font-size: 1.25rem;
  margin-bottom: 12px;
}
.reservation .mobile_option .local select {
  background: transparent linear-gradient(180deg, #ec0086 0%, #db4954 100%) 0%
    0% no-repeat padding-box;
  color: #fff;
  width: 305px;
  height: 50px;
  padding: 5px 12px;
  border-radius: 40px;
  border: none;
  outline: none;
  margin-bottom: 12px;
}

.reservation .mobile_table {
  display: none;
  margin-bottom: 20px;
}
.reservation .mobile_table .title {
  font-size: 1.25rem;
  margin-bottom: 20px;
  text-align: center;
}
.reservation .mobile_table .body .tr {
  display: flex;
  padding: 20px 0;
}
.reservation .mobile_table .body .tr:nth-child(odd) {
  background-color: #fff3fa;
}
.reservation .mobile_table .body .tr .td {
  flex: 1;
  text-align: center;
  font-size: 1.25rem;
  color: #333333;
}
.reservation .mobile_table .body .tr .td input[type='radio'] {
  display: none;
}
.reservation .mobile_table .body .tr .td label {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.reservation .mobile_table .body .tr .td label span.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  border: 2px solid #c0b7bc;
  border-radius: 100%;
  margin-right: 5px;
}
.reservation .mobile_table .body .tr .td label span.circle::before {
  content: '';
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: #fff;
}
.reservation
  .mobile_table
  .body
  .tr
  .td
  input[type='radio']:checked
  + label
  span.circle {
  border-color: #ec0086;
}
.reservation
  .mobile_table
  .body
  .tr
  .td
  input[type='radio']:checked
  + label
  span.circle::before {
  background-color: #ec0086;
}

.mobile_local_nav {
  width: 100%;
  display: none;
  justify-content: center;
}
.mobile_local_nav .pre,
.mobile_local_nav .next {
  width: 32px;
  height: 32px;
  background-color: #ec0086;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.mobile_local_nav .pre:hover,
.mobile_local_nav .next:hover {
  opacity: 0.8;
}
.mobile_local_nav .pre {
  margin-right: 20px;
}
.mobile_local_nav .pre::before,
.mobile_local_nav .next::before {
  content: url(../images/common/arrow_icon.svg);
}
.mobile_local_nav .pre::before {
  transform: rotate(90deg) scale(0.6);
}
.mobile_local_nav .next::before {
  transform: rotate(-90deg) scale(0.6);
}

.reservation .desc .list {
  display: flex;
  margin-bottom: 22px;
}
.reservation .desc .list:last-child {
  margin-bottom: 0;
}
.reservation .desc .list p {
  min-width: 315px;
  margin-bottom: 0;
  margin-right: 20px;
  text-align: left;
}
@media (max-width: 1200px) {
  .reservation {
    padding: 20px;
    margin-bottom: 20px;
  }
  .reservation h1 {
    font-size: 1.75rem;
    margin-bottom: 13px;
  }
  .reservation p {
    margin-bottom: 22px;
  }
  .reservation > .local {
    margin-bottom: 20px;
  }
  .reservation ul.tabs {
    display: none;
  }
  .reservation .table {
    display: none;
  }
  .reservation .mobile_option {
    display: block;
  }
  .reservation .mobile_table {
    display: block;
  }
  .mobile_local_nav {
    display: flex;
    margin-bottom: 40px;
  }
  .reservation .desc .list.mobile_hide {
    display: none;
  }
}
