@import 'common.css';

/*查詢門診地點*/
.reservation {
  padding: 60px 95px;
  border-radius: 24px;
  background-color: #fff;
  box-shadow: 5px 10px 10px #00000029;
  margin-bottom: 60px;
  margin-top: 30px;
}
.reservation h1 {
  font-size: 3rem;
  text-align: center;
  font-weight: 900;
  color: #000;
  letter-spacing: -2px;
  margin-bottom: 16px;
}
.reservation p {
  font-size: 1.25rem;
  text-align: center;
  color: #333333;
  margin-bottom: 12px;
}
.reservation p a {
  color: #ec0086;
  text-decoration: underline;
  margin: 0 5px;
}
.reservation p a:hover {
  opacity: 0.8;
}
.reservation .local {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 1.25rem;
  color: #ec0086;
  margin-bottom: 30px;
}
.reservation .local img {
  margin-right: 20px;
}
.reservation ul.tabs {
  list-style: none;
  padding-left: 0;
  display: flex;
  margin-bottom: 40px;
}
.reservation ul.tabs li {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  color: #ec0086;
  border: 1px solid #ec0086;
  border-radius: 48px;
  padding: 15px 0;
  font-size: 1rem;
  margin-right: 30px;
  cursor: pointer;
}
.reservation ul.tabs li.active,.reservation ul.tabs li:hover{
  background: transparent linear-gradient(180deg, #ec0086 0%, #db4954 100%) 0%
    0% no-repeat padding-box;
  box-shadow: 5px 5px 6px #00000029;
  color: #fff;
}
.reservation ul.tabs li:last-child {
  margin-right: 0;
}
.reservation ul.tabs_panel {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  margin-bottom: 22px;
}
.reservation ul.tabs_panel li {
  display: none;
}
.reservation ul.tabs_panel li.active {
  display: block;
}
.reservation ul.tabs_panel .owl-carousel.owl-loaded {
  display: block;
}
.reservation ul.tabs_panel .owl-carousel.owl-hidden {
  opacity: 0;
}
.reservation ul.tabs_panel .owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}
.reservation ul.tabs_panel .table_slider{
  position: relative;
}
.reservation ul.tabs_panel .table_slider .owl-nav {
  position: absolute;
  top: 50%;
  transform: translateY(-16px);
  width: 100%;
  height: 0;
  display: flex;
  justify-content: space-between;
}
.reservation ul.tabs_panel .table_slider .owl-nav .owl-prev,
.reservation ul.tabs_panel .table_slider .owl-nav .owl-next {
  width: 32px;
  height: 32px;
  background-color: #ec0086;
  outline: none;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.reservation ul.tabs_panel .table_slider .owl-nav .owl-prev.disabled,
.reservation ul.tabs_panel .table_slider .owl-nav .owl-next.disabled {
  background-color: #3333334d;
}
.reservation ul.tabs_panel .table_slider .owl-nav .owl-prev {
  transform: translateX(-200%);
}
.reservation ul.tabs_panel .table_slider .owl-nav .owl-next {
  transform: translateX(200%);
}
.reservation ul.tabs_panel .table_slider .owl-nav .owl-prev::before,
.reservation ul.tabs_panel .table_slider .owl-nav .owl-next::before {
  content: url(../images/common/arrow_icon.svg);
}
.reservation ul.tabs_panel .table_slider .owl-nav .owl-prev::before {
  transform: rotate(90deg) scale(0.7);
}
.reservation ul.tabs_panel .table_slider .owl-nav .owl-next::before {
  transform: rotate(-90deg) scale(0.7);
}
.reservation ul.tabs_panel .table_slider .owl-nav .owl-prev span,
.reservation ul.tabs_panel .table_slider .owl-nav .owl-next span {
  display: none;
}
.reservation ul.tabs_panel .table_slider .owl-nav .owl-prev:hover,
.reservation ul.tabs_panel .table_slider .owl-nav .owl-next:hover {
  opacity: 0.8;
}
.reservation ul.tabs_panel li .table{
  margin-bottom: 0;
}
.reservation ul.tabs_panel li .table .head {
  display: flex;
}
.reservation ul.tabs_panel li .table .head .th {
  flex: 1;
  text-align: center;
  font-size: 1.25rem;
  color: #333333;
  padding: 20px 0;
}
.reservation ul.tabs_panel li .table .body .tr {
  display: flex;
  padding: 20px 0;
}
.reservation ul.tabs_panel li .table .body .tr:nth-child(odd) {
  background-color: #ec00860d;
}
.reservation ul.tabs_panel li .table .body .tr .td {
  flex: 1;
  text-align: center;
  font-size: 1.25rem;
  color: #333333;
}
.reservation ul.tabs_panel li .table .body .tr .td input[type='radio'] {
  display: none;
}

.reservation ul.tabs_panel li .table .body .tr .td label {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.reservation ul.tabs_panel li .table .body .tr .td label span.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  border: 2px solid #3333334d;
  border-radius: 100%;
  margin-right: 5px;
}
.reservation ul.tabs_panel li .table .body .tr .td label span.circle::before {
  content: '';
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: #fff;
}
.reservation
  ul.tabs_panel
  li
  .table
  .body
  .tr
  .td
  input[type='radio']:checked
  + label
  span.circle {
  border-color: #ec0086;
}
.reservation
  ul.tabs_panel
  li
  .table
  .body
  .tr
  .td
  input[type='radio']:checked
  + label
  span.circle::before {
  background-color: #ec0086;
}
.reservation .desc .list{
  display: flex;
  margin-bottom: 22px;
}
.reservation .desc .list:last-child{
  margin-bottom: 0;
}
.reservation .desc .list p{
  min-width: 315px;
  margin-bottom: 0;
  margin-right: 20px;
  text-align: left;
}