@import 'common.css';

.service {
  padding-top: 60px;
  margin-bottom: 60px;
}
.service .top_text {
  padding-bottom: 30px;
}
.service .top_text p {
  font-size: 1.25rem;
  margin-bottom: 30px;
}
.service h1 {
  font-size: 3rem;
  text-align: center;
  font-weight: 900;
  color: #000;
  letter-spacing: -2px;
  margin-bottom: 66px;
}
.service h1 br {
  display: none;
}
.service .service_top {
  display: flex;
  margin-bottom: 50px;
}
.service .service_top .item {
  flex: 1;
  text-align: center;
}
.service .service_top .item img {
  margin-bottom: 60px;
}
.service .service_top .item p {
  font-size: 1.25rem;
  color: #333333;
}
.service .service_top_btn {
  display: flex;
  justify-content: center;
  margin-bottom: 120px;
}
.service .service_top_btn a {
  width: 540px;
  height: 72px;
  color: #fff;
  background: transparent linear-gradient(180deg, #ec0086 0%, #db4954 100%) 0%
    0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 1.75rem;
  margin-bottom: 32px;
}
.service .service_top_btn a:hover {
  opacity: .8;
}
.service .service_middle {
  display: flex;
  align-items: stretch;
  margin-bottom: 120px;
}
.service .service_middle .left_pic {
  flex: 1.4;
  margin-right: 30px;
  box-shadow: 5px 10px 10px #d2d2d2;
}
.service .service_middle .left_pic {
  background-image: url(../images/service/left_pic.png);
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}
.service .service_middle .right_text {
  flex: 1;
}
.service .service_middle .right_text ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

.service .service_middle .right_text > ul > li .title {
  color: #ec0086;
  font-size: 1.75rem;
  font-weight: 900;
  display: flex;
  align-items: center;
  margin-bottom: 13px;
  line-height: 1;
}
.service .service_middle .right_text > ul > li .title::before {
  content: url(../images/service/icon_arrow.svg);
  margin-top: 7px;
  margin-right: 20px;
}
.service .service_middle .right_text > ul > li > ul {
  padding-left: 5px;
  margin-bottom: 17px;
}
.service .service_middle .right_text > ul > li:last-child > ul {
  margin-bottom: 0;
}
.service .service_middle .right_text > ul > li > ul > li {
  font-size: 1.25rem;
  margin-bottom: 10px;
  display: flex;
}
.service .service_middle .right_text > ul > li > ul > li:last-child {
  margin-bottom: 0;
}
.service .service_middle .right_text > ul > li > ul > li::before {
  content: '-';
  margin-right: 15px;
}
.service ul.service_bottom {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}
.service ul.service_bottom li {
  display: flex;
  align-items: center;
  margin-bottom: 93px;
}
.service ul.service_bottom li:last-child {
  margin-bottom: 0;
}
.service ul.service_bottom li .left_icon {
  margin-right: 25px;
}
.service ul.service_bottom li .text .title {
  color: #ec0086;
  margin-bottom: 10px;
  font-size: 1.75rem;
  font-weight: 900;
}
.service ul.service_bottom li .text .desc {
  color: #333333;
  font-size: 1.25rem;
}
@media (max-width: 1200px) {
  .service {
    padding-top: 20px;
    margin-bottom: 42px;
  }
  .service .top_text {
    padding-bottom: 10px;
  }
  .service h1 {
    font-size: 1.75rem;
    margin-bottom: 43px;
  }
  .service h1 br {
    display: block;
  }
  .service .service_top {
    flex-direction: column;
    margin-bottom: 40px;
  }
  .service .service_top .item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  .service .service_top .item img {
    width: 63px;
    margin-right: 26px;
    margin-bottom: 0;
  }
  .service .service_top_btn {
    margin-bottom: 80px;
  }
  .service .service_top_btn a {
    width: 285px;
    height: 58px;
    font-size: 1rem;
  }
  .service .service_middle {
    flex-direction: column;
    margin-bottom: 82px;
  }
  .service .service_middle .left_pic {
    padding-bottom: 60%;
    margin-right: 0;
    margin-bottom: 27px;
  }
  .service .service_middle .right_text > ul > li .title {
    font-size: 1.5rem;
    padding-left: 25px;
  }
  .service ul.service_bottom li {
    align-items: flex-start;
    margin-bottom: 22px;
  }
  .service ul.service_bottom li .left_icon {
    flex: 0 0 63px;
    margin-right: 20px;
  }
  .service ul.service_bottom li .left_icon img {
    width: 100%;
  }
  .service ul.service_bottom li .text .title {
    font-size: 1.5rem;
  }
}
